<div class="container">
  <h3>{{titulo}}</h3>
  <form #form="ngForm" class="form" name="usuarioForm" *ngIf='usuario' (ngSubmit)="salvarUsuario()">
    <div class="row">
      <div class="input-field col s6">
        <input type="text" name="name" [(ngModel)]="usuario.name" required autofocus />
        <label for="name">Nome</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="text" name="cpf" [(ngModel)]="usuario.cpf" required />
        <label for="cpf">CPF</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="password" name="senha" [(ngModel)]="usuario.senha" required />
        <label for="senha">Senha</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="email" name="email" [(ngModel)]="usuario.email" required />
        <label for="email">E-mail</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="text" name="telefone" [(ngModel)]="usuario.telefone" required>
        <label for="telefone">Telefone</label>
      </div>
    </div>
    <input type="submit" class="btn" value = "Cadastrar" >
    <input type="button" class="btn btn-flat" (click)="voltar()" value="Cancelar" />
  </form>
</div>
