<div class = "container">
<h3>{{titulo}}</h3>


<form name="usuarioForm" *ngIf='usuario'>
  Nome:<input type="text" name="name" [(ngModel)]="usuario.name" required><br />
  Cpf:<input type="text" name="cpf" [(ngModel)]="usuario.cpf" required><br />
  Senha:<input type="password" name="senha" [(ngModel)]="usuario.senha" required><br />
  E-mail:<input type="text" name="email" [(ngModel)]="usuario.email"><br />
  Telefone:<input type="text" name="telefone" [(ngModel)]="usuario.telefone"><br /><br />

  <input type="submit" (click)= "salvarUsuario()" value = "Cadastrar" ><br /><br />
  <input type="button" (click) = "voltar()" value="Cancelar">
</form>
{{usuario.nome}}
</div>
