<div class="container">
  <h3>{{titulo}}</h3>
  <div class="form">
    <form *ngIf='produto'>
      <div class="row">
        <div class="input-field col s6">
          <input type="text" id="nome" name="nome" placeholder="nome do movel " [(ngModel)] = "produto.nome">
          <label class="active" for="nome">Nome</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input type="text" id="descricao" name="descricao" placeholder="Descreva o móvel, medidas, cor, material" [(ngModel)] = "produto.descricao">
          <label for="descricao">Descrição</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input type="text" id="Estado" name="Estado" placeholder="Escreva seu Estado" [(ngModel)] = "produto.endereco.estado">
          <label for="Estado">Estado</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input type="text" id="Cidade" name="Cidade" placeholder="Escreva sua Cidade" [(ngModel)] = "produto.endereco.cidade">
          <label for="Cidade">Cidade</label>
        </div>
      </div>
      <div class="row">
        <div class="file-field input-field col s6">
          <div class="btn">
            <span>Imagem</span>
            <input type="file" name="image" id="image" accept="image/*" (change)="selecionaImagem($event)"  />
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" />
          </div>
        </div>
      </div>
      <hr>
      <input type="button" class="btn" (click)="salvarProduto()" value="Salvar" />
      <input type="button" class="btn btn-flat" (click)="voltar()" value="Cancelar" />
    </form>
  </div>
</div>

