<div class="container">
  <h3>Trocas enviadas pendentes</h3>
  <table>
    <tr>
      <th>Data da solicitação</th>
      <th>Móvel</th>
    </tr>
    <tr *ngFor="let troca of solicitadas; let cod = troca">
      <td>{{troca.data | date:'short'}}</td>
      <td>
        <a [routerLink]="['/anuncio/', troca.movel.id]">{{troca.movel.nome}}</a>
      </td>
    </tr>
  </table>
  <br>
  <br>
  <hr>
  <br>
  <br>
  <h3>Trocas recebidas pendentes</h3>
  <table>
      <tr>
        <th>Data da solicitação</th>
        <th>Móvel</th>
        <th>Solicitante</th>
      </tr>
      <tr *ngFor="let troca of recebidas; let cod = troca">
        <td>{{troca.data | date:'short'}}</td>
        <td>
          <a [routerLink]="['/anuncio/', troca.movel.id]">{{troca.movel.nome}}</a>
        </td>
        <td>
          <a [routerLink]="['/usuario/', troca.solicitante.id]">{{troca.solicitante.nome}}</a>
        </td>
      </tr>
    </table>
</div>
