<div class = "container">

<h3>{{titulo}}</h3>
<table>
 <tr>
    <th>Id</th> <th></th> <th>Nome</th><th></th> <th>Descrição</th><th></th> <th>Local</th><th></th><th>Imagem</th><th></th> <th>Editar</th><th>Remover</th>
  </tr>
    <tr *ngFor="let produto of produtos">
    <td>{{produto.id}}<td>
    <td>{{produto.nome}}<td>
    <td>{{produto.descricao}}<td>
    <td>{{produto.local}}<td>
    <td>{{produto.img}}<td>
      <img class="activator" src={{urlImagem}}>
    <td><a [routerLink]="['/edicao', produto.id]">Editar</a></td>
    <td><a routerLink="/lista" (click)= "remover(produto)">Remover</a></td> 
  </tr>
  </table>
    
<h5><a routerLink="/novo">Cadastra mais uma troca</a></h5>

</div>


 




    