<div class = "container">
  <h3>{{titulo}}</h3>
  <table>
    <tr>
      <th>Nome do Movel</th>
      <th>Descrição</th>
      <th>Estado</th>
      <th>Cidade</th>
      <th>Imagem</th>
      <th>Editar</th>
      <th>Remover</th>
    </tr>
    <tr *ngFor="let produto of produtos; let cod = produto">
      <td>{{produto.nome}}</td>
      <td>{{produto.descricao}}</td>
      <td>{{produto.endereco.estado}}</td>
      <td>{{produto.endereco.cidade}}</td>
      <td>
        <img class="activator" src={{urlImagem}}>
      </td>
      <td><a [routerLink]="['/edicao', produto._id]">Editar</a></td>
      <td><a routerLink="/lista" (click)= "remover(produto)">Remover</a></td>
    </tr>
  </table>

  <h5><a routerLink="/novo">Cadastra mais uma troca</a></h5>
</div>
